@model Api.Models.PageViewModel

<form role="form" action="/inline-url-keys/add" method="POST">
    <div class="form-group">
        <label for="caption">Caption</label>
        <input name="caption" type="text" class="form-control" id="caption" placeholder="" required>
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input name="url" type="text" class="form-control" id="url" placeholder="" required>
    </div>
    <input type="hidden" name="botId" value="@Model.CurrentBot.Bot.Id" required>
    <button type="submit" class="btn btn-primary">Create</button>
</form>