@model Api.Models.PageViewModel

<div class="page-title">
    <h3 class="breadcrumb-header">Bots</h3>
</div>

<a href="/bots/new" class="btn btn-default">New</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Telegram Token</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bot in Model.Bots)
    {
        <tr>
            <td> <a href="/bot?id=@bot.Bot.Id">@bot.Bot.Name</a></td>
            <td>@bot.Bot.Token</td>
            <td class="text-right">
                <form method="POST" action="/bots/remove">
                    <input type="hidden" name="id" value="@bot.Bot.Id" required>
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-remove"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>