@model Api.Models.PageViewModel

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="row white">
                    <div class="block">

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1>Text messages</h1>
                                </li>
                                <li>Start message</li>
                                <li>Answers to text messages</li>
                                <li>Microsoft Cognitive Services</li>
                                <li>
                                    <h3 style="margin-top: 0; font-size: 120%">Set up start message and answers to text messages, then enable Microsoft Cognitive Services and your bot will find not configured answers using Bing.</h3>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1>Inline keyboard</h1>
                                </li>
                                <li>Defualt inline buttons</li>
                                <li>Url inline buttons</li>
                                <li>
                                    <h3 style="margin-top: 0; font-size: 120%">Set up main menu of yout bot using inline keys. Send some text or go to url by clicking on buttons.</h3>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1>Networking & Interviews</h1>
                                </li>
                                <li>Collect information about your users</li>
                                <li>
                                    <h3 style="margin-top: 0; font-size: 120%">Enable networking and bot will interview you users. Set up interviews and send it to you users. You can see networking information and interviews answers using dashboard</h3>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <ul class="pricing">
                                <li>
                                    <h1>Notifications</h1>
                                </li>
                                <li>Notify single user</li>
                                <li>Notify all users</li>
                                <li>
                                    <h3 style="margin-top: 0; font-size: 120%">Send message to you users in one click using dashboard</h3>
                                </li>
                            </ul>
                        </div>


                    </div><!-- /block -->

                </div><!-- /row -->
                <div class="text-center">
                    <a href="/main/index" class="btn btn-success btn-rounded">Try to create your own bot</a>
                </div>
            </div>
        </div>
    </div>
</div>